<div class="container col-xs-10 col-xs-offset-1">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com"> The Complete Ruby on Rails Developer</a>
      by Rodolfo Viaça
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", root_path%></li>
      </ul>
    </nav>
  </footer>
</div>
